<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etsisi.dev.etsisicrowdsensing">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Line below probably can be deleted -->
    <permission android:name="android.permission.INTERNET" />


    <application
        android:name=".InitiateVolley"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!-- Bug Fix - Reason - Using app targets API Level 28 (Android 9.0) or above and the Google Maps SDK for Android -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/activity_login"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="sensorPortrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".alarms.EventNotificationService"
            android:exported="false" />
        <service
            android:name=".alarms.CompletedEventAlarmService"
            android:exported="false" />
        <service
            android:name=".firebase.cloud.messaging.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".firebase.cloud.messaging.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alarms.AlarmReceiver"
            android:enabled="true"/>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            />
        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorPortrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.etsisi.dev.etsisicrowdsensing.MainActivity" />
        </activity>
        <activity
            android:name=".activities.TransportActivity"
            android:label="@string/title_activity_transport"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorPortrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.etsisi.dev.etsisicrowdsensing.MainActivity" />
        </activity>
        <activity android:name=".UserScheduleActivity"
            android:screenOrientation="sensorPortrait"
            />
        <activity
            android:name=".activities.NewsActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.etsisi.dev.etsisicrowdsensing.MainActivity" />
        </activity>
        <activity
            android:name=".bottom.navigation.bar.fragment.campus.incidences.IncidenceDetailActivity"
            android:label="@string/title_incidence_detail_activity"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".bottom.navigation.bar.fragment.campus.incidences.NewIncidenceActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".bottom.navigation.bar.fragment.campus.events.EventDetailActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".bottom.navigation.bar.fragment.notifications.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".bottom.navigation.bar.fragment.campus.events.NewEventActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.FoodActivity"
            android:label="@string/title_activity_food"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.etsisi.dev.etsisicrowdsensing.MainActivity" />
        </activity>
        <activity android:name=".bottom.navigation.bar.fragment.notifications.FeedbackReasonsActivity"/>
    </application>

</manifest>